html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 50px;
  background-color: #fafafa;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
}

nav {
	box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
}

.shadow {
  @media #{$medium-and-up} {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	}

	.container {
		box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
	}
}

.nav-logo {
	padding: 0 7px 0 0;
	display: inline-block;
	position: absolute;
	margin-top: 9px;
}

.brand-logo {
	margin-left: 60px;

	@media #{$medium-and-down} {
		margin-left: 0;
	}
}

.mob-menu {
	margin-left: 0;
	color: rgba(0,0,0,.8);
}

.stat {
	height: 70px;
	background-color: #FFF;
	box-shadow: 0 1px 4px rgba(0,0,0,.04);
	border: 1px solid rgba(0,0,0,.09);
	margin-top: 10px;

	h1 {
		font-size: 1.25rem;
		width: 50%;
		margin: 0 auto;
		text-align: center;
		text-transform: uppercase;
		font-weight: 300;
		padding-top: 14px;

		small {
			font-size: 1.25rem;
			font-weight: 600;
			line-height: 30px;
		}
	}
}

.results-table {
	background-color: #FFF;
	box-shadow: 0 1px 4px rgba(0,0,0,.04);
	border: 1px solid rgba(0,0,0,.09);
}

.otsing {
	margin: 100px 0;

	h1 {
		font-weight: 200;
		font-size: 5rem;
		margin-bottom: 60px;
	}
}

form {
	.autocomplete {
		font-weight: 300;
		font-size: 1.25rem;
	}
}

footer.page-footer {
	padding-top: 0;
  text-transform: uppercase;
}

footer.page-footer > .footer-copyright > .container {
	color: rgba(0,0,0,.44);
	font-size: .875rem;
	padding: 0 15px;
}

.footer-nav-item {
	 color: rgba(0,0,0,.44);
	 font-size: .875rem;
}

.footer-nav-item:hover {
	 color: rgba(0,0,0,.8);
}

/* results.php
===================== */
.results-otsing {
	margin: 50px 0 20px 0;
}

.results-table {
	margin-bottom: 100px;
	table {
		thead {
			text-transform: uppercase;
			tr {
				th {
					font-weight: 200;
					border-left: 1px solid rgba(0,0,0,.05);
					padding: 5px 5px 5px 10px;
				}

				th:first-child {
					border: none;
				}

				.type {
					width: 60px;
				}
			}
		}

		tbody {
			tr {
				td {
					font-weight: 200;
					color: rgba(0,0,0,.44);
					border-left: 1px solid rgba(0,0,0,.05);
					padding: 5px 10px 5px 10px;
				}

				td:first-child {
					border: none;
				}

				.type-field {
					text-align: center;
					padding: 0;
				}
			}

			tr:last-child {
				border-bottom: none;
			}

			tr:hover {
				cursor: pointer;
				background-color: rgba(0,0,0,.05);
		    transition: background-color 50ms ease;
					-webkit-transition: background-color 50ms ease;
			    -ms-transition: background-color 50ms ease;
			}
		}
	}
}

.meta-info {
	font-size: 10px;
	margin: -2px 0 0 0;

	li {
		display: inline;
		margin-right: 10px;
	}

	.meta-info-value {
		font-weight: bold;
	}
}

/* view.php
===================== */
.bar {
	background-color: #FFF;
	box-shadow: 0 1px 4px rgba(0,0,0,.04);
	border: 1px solid rgba(0,0,0,.09);
	margin: 25px 0;
	padding-left: 10px;

	a {
		font-size: 12px;
		font-weight: 300;
		color: rgba(0,0,0,.44);
		text-transform: uppercase;
	}

	.idcode {
		font-size: 12px;
		font-weight: 300;
		margin-top: 2px;
		margin-right: 10px;
		color: rgba(0,0,0,.8);
		text-transform: none;

		span {
			color: rgba(0,0,0,.44);
			margin-right: 5px;
		}
	}

	a:hover {
		color: rgba(0,0,0,.8);
	}
}

.details {
	background-color: #FFF;
	box-shadow: 0 1px 4px rgba(0,0,0,.04);
	border: 1px solid rgba(0,0,0,.09);
	padding: 15px 20px;

	.peace {
		color: rgba(0,0,0,.44);
		font-weight: 300;
		font-size: 14px;
		margin-bottom: 20px;

		span, p {
			color: rgba(0,0,0,.8);
			font-weight: 500;
			padding: 0;
			margin: 0;
		}
	}

	.peace:last-of-type {
		margin-bottom: 40px;
	}	
}

.details--video {
	border-top: none !important;
}

.materialboxed {
	margin-bottom: 20px;
}

.action-buttons {
	margin-top: 5px;
	float:right;
}

.preview-icon {
	text-align: center;
	padding-top: 75px;

	@media #{$medium-and-down} {
		padding-top: 0;
	}
}